/target/
/data/
/.settings/
/.idea/
/.vscode/
# *.iml
# *.log
# *.class
# *.jar
# *.war
# *.ear
# *.db
# *.sql
# *.zip
# *.tar.gz
# *.bak
# *.tmp
# .DS_Store
# .project
# .classpath